<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/table.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/common2.css">
    
    <link rel="stylesheet" href="/addpurchase.css">
</head>
<body>
    <%- include("./success.ejs") %>
    <%- include("./errormessage.ejs") %>
    
    <%- include("./navbar.ejs") %>

    <div class="container">

        <h2 class="create_heading">Invoice</h2>

        <div class="input_select">

            <select class="selected" name="customer_id" id="select_customer">
                <option value="" selected>select Customer</option>
                <% for(let customer of data.customers){ %>
                    <option value="<%=customer.customer_id%>"><%=customer.customer_name%></option>
                <%}%>
            </select>

            <select class="selected" name="product_id" id="select_product">
                <option value="" selected>select product</option>
                <% for(let product of data.product){ %>
                    <option value="<%=product.product_id%>"><%=product.product_name%></option>
                <%}%>
            </select>
        </div>


                    <div id="invoice_formsection">
                        <div class="invoice_form-header">
                            <span>Product Name</span>
                            <span>Stock</span>
                            <span>Ordered qnt</span>
                            <span>selling Price</span>
                            <span>Total Amount</span>
                            <span>Status</span>
                            <span>VAT</span>
                            <span>Remarks</span>
                            <span>Action</span>
                          </div>
                    </div>


        <div class="cal_total">
            <div class="cal">
                <label for="total">Total Amount:</label>
                <input readonly id="total_amt" id="total" value=0.00></input>
            </div>
            <div class="cal">
                <label for="vatable">Vatable Amount:</label>
                <input readonly id="total_vatable_amt" value=0.00></input>
            </div>
            <div class="cal">
                <label for="vatamt">Vat Amount:</label>
                <input readonly id="vatamt" value=0.00></input>
            </div>
            <div class="cal">
                <label for="amt_after_vat">Total Amount after Vat:</label>
                <input readonly id="total_amt_after_vat" value=0.00></input>
            </div>
    
        </div>

        <div class="input_select">
            <div class="submit_btn padding">
                <button type="button" id="save">save</button>
            </div>
            <div class="submit_btn padding">
                <button type="button" id="save_and_print_Bill">save and print bill</button>
            </div>
        </div>


</div>

<footer></footer>

</body>
<script src="/addinvoice.js"></script>
</html>