<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/addpurchase.css"> -->
</head>
<body>
    <%- include("./navbar.ejs") %>

    <div class="container">
        <h2 class="create_heading">Product Purchase</h2>

    <select name="vendor_id" id="vendorlist">
        <option value="" selected>select vendor</option>
        <% for(let vendor of data.vendors){ %>
            <option value="<%= vendor.vendor_id  %>"><%=vendor.vendor_name%></option>
        <% } %>
    </select>
    <select name="product_id" id="select_product">
        <option value="" selected>select product</option>
        <% for(let product of data.products){ %>
            <option value="<%=product.product_id%>" class="addproduct"><%=product.product_name%></option>
        <% } %>
    </select>
    <div id="formsection">

    </div>
    <div>
        <label for="total">total amount</label><br>
        <input readonly id="total_amt" id="total" value=0></input>
        <label for="vatable">vatable amount</label>
        <input readonly id="total_vatable_amt"></input>
        <label for="vatamt">vat amount</label>
        <input readonly id="vatamt"></input>
        <label for="amt_after_vat">total amount after vat</label>
        <input readonly id="total_amt_after_vat" value=0></input>

    </div>
<button type="button" id="savepurchase">save</button>
<br><br>
<select name="product_id" id="see_product_price">
    <option value="" selected>select product</option>
    <% for(let product of data.products){ %>
        <option value="<%=product.product_id%>" class="addproduct"><%=product.product_name%></option>
    <% } %>
</select>
<button id="seeprice">see purchase price history</button>
<h1 id="err"></h1>
<table border="1" style="display: none;" id="history_table">
    <thead>
        <th>vendor name</th>
        <th>product name</th>
        <th>purchase price</th>
        <th>purchase date</th>
    </thead>
    
</table>
</body>
<script src="/addpurchase.js"></script>
</html>