<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Unit</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/common2.css">
</head>
<body>
    <%- include("./success.ejs") %>
    <%- include("./errormessage.ejs") %>

    <%- include("./navbar.ejs") %>

    <div class="container">
        <h2 class="create_heading">Edit Unit</h2>

    <form id="editunit" class="style_form">

        <div class="input_field">
            <input type="hidden" name="unit_id" value="<%= data.unit_id %>">
            <label for="unit_name">Unit Name:</label>
            <input type="text" id="unit_name" name="unit_name" value="<%= data.unit_name %>" required>
            <span id="err_name"></span>
        </div>
        
        <div class="input_field">
            <label for="unit_description">Unit short name:</label>
            <textarea class="desc_textarea" id="unit_description" name="short_name" required><%= data.short_name %></textarea>
            <span id="err_desc"></span>
        </div>
        
        <!-- Submit Button -->
        <div class="submit_btn padding">
            <button type="submit">Update Unit</button>
        </div>
    </form>
</div>


<div class="back_btn">
    <a href="/unit/view">Back to Unit List</a>
</div>

<footer></footer>

</body>
<script src="/editunit.js"></script>
</html>
