<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Unit</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/common2.css">
</head>
<body>
    <%- include("./success.ejs") %>
    <%- include("./errormessage.ejs") %>

    <%- include("./navbar.ejs") %>
    <div class="container">

        <h2 class="create_heading">Edit Unit</h2>
    
        <form id="editbrand" style="width: 100%; text-align: center;">

            <!-- Brand Name -->
                <div class="input_field">
                    <input type="hidden" name="brand_id" value="<%= data.brand_id%>">
                    <label class="margin_label" for="brand_name">Brand Name</label>
                    <input type="text" id="brand_name" name="brand_name" value="<%= data.brand_name%>" required>
                    <span id="err_name"></span>
                </div>
            
            <!-- Brand Description -->
            <div class="input_field">
                <label class="margin_label" for="brand_desc">Brand Description</label>
                <textarea class="desc_textarea" id="brand_desc" name="brand_desc" required><%= data.brand_desc%></textarea>
                <span id="err_desc"></span>

            </div>
            <!-- Submit Button -->
        <div class="submit_btn excel">
            <button type="submit">Update</button>
        </div>
        </form>
    </div>

    
    <div class="back_btn">
        <a href="/brand/view">Back to Brand List</a>
    </div>

    <footer></footer>
    
</body>
<script src="/editbrand.js"></script>
</html>
