<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <link rel="stylesheet" href="/common.css">

		<style>
			#is_active {
				height: 1rem;
				width: 1rem;
				font-size: 1rem;
				margin-top: 0.5rem;
			}

			#user_image {
				border: none;
				margin: 0;
				padding: 0;
				width: 100%;
				text-align: center;
				height: 30px;
			}

			#view_user_image {
				
			}
		</style>
</head>
<body>
	<%- include("./success.ejs") %>
    <%- include("./errormessage.ejs") %>

    <%- include("./navbar.ejs") %>

    <div class="container">

			<h2 class="create_heading">Update user details</h2>

        <form id="edituser" class="style_form">
            <!-- Name -->
            <div class="input_field">			
				<label for="name">Name</label>
				<input type="text" id="name" name="name" value="<%= data.result.name %>" required />
				<span id="err_name"></span>
			</div>

            <!-- Address -->
            <div class="input_field">
				<label for="address">Address</label>
				<input type="text" id="address" name="address" value="<%= data.result.address %>" />
				
			</div>

            <!-- Phone -->
            <div class="input_field">
				<label for="phone">Phone</label>
				<input type="text" id="phone" name="phone" value="<%= data.result.phone %>" maxlength="10" />
				<span id="err_phone"></span>
				
			</div>

            <!-- Email -->
            <div class="input_field">
				<label for="email">Email</label>
				<input type="email" id="email" name="email" value="<%= data.result.email %>" required />
				<span id="err_email"></span>
				
			</div>
            
            <!-- Roles -->
            <div class="input_field">
				<label for="roles">Role</label>
				<select class="selected" id="roles" name="roles" required>
					<!-- <option>Select Role</option> -->
					<option value="admin" <%= data.result.roles === 'admin' ? 'selected' : '' %>>Admin</option>
					<option value="normal" <%= data.result.roles === 'normal' ? 'selected' : '' %>>Normal</option>
					<% if (data.user.roles === 'superadmin') { %>
						<option value="superadmin" <%= data.result.roles === 'superadmin' ? 'selected' : '' %>>Superadmin</option>
					<% } %>
				</select>
				<span id="err_role"></span>
			</div>

            <!-- company -->
			<% if (data.user.roles == 'superadmin') { %>
				<div class="input_field">
						<label for="company">Company</label>
						<select class="selected" id="company" name="company" required>
							<option> select company</option>
							<%for(let company of data.company){%>
									<option value="<%= company.company_id %>" <%= data.result.company_id === company.company_id ? 'selected' : '' %>><%= company.company_name %></option>
							<%}%>
						</select>
				</div>
            <% } %>

            <!-- Is Active -->
			<div class="input_field">
				<span class="status">Status</span>
				<div class="active">
					<input type="checkbox" id="is_active" name="is_active" value="1" <%= data.result.is_active ? 'checked' : '' %> />
					<input type="hidden" id="user_id" name="user_id" value="<%=data.result.user_id%>"  />
					<label for="is_active">Is Active:</label>
				</div>
			</div>

            <!-- Upload an image -->
            <div class="input_field image">
                <label for="user_image">Change Image</label>
								<div class="img_active">
									<input type="file" id="user_image" name="image" />
									<img src="<%= data.result.user_image %>" alt="user image" id="view_user_image" style="width: 40px; height: 40px; border-radius: 50%; ">
								</div>
            </div>

            <!-- Submit Button -->
            <div class="input_field submit_btn">
				<button type="submit">Update User</button>
			</div>
        </form>
   </div>

	 
	<div class="back_btn">
		<a href="/user/view">Back to User List</a>
	</div>

	<footer></footer>

</body>
<script src="/edituser.js"></script>
</html>

