<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Product</title>
  <link rel="stylesheet" href="/common.css">
  <link rel="stylesheet" href="/common2.css">

    <style>
      #vat {
          height: 1rem;
          width: 1rem;
          font-size: 1rem;
          margin-top: 0.5rem;
      }
  </style>
</head>
<body>
  <%- include("./navbar.ejs") %>
  <div class="container">
    <h2 class="create_heading">Edit Product</h2>


  <form id="editproduct" class="style_form">

    <input type="hidden" name="product_id" value="<%= data.product.product_id %>">


    <!-- Product Name -->
     <div class="input_field">
       <label for="product_name">Product Name</label>
       <input type="text" id="product_name" name="product_name" value="<%= data.product.product_name %>" required>
     </div>

    <!-- Brand -->
    <div class="input_field">
      <label for="brand">Brand</label>
      <select class="selected" id="brand" name="brand" required>
        <option value="">Select Brand</option>
        <% data.brands.forEach(brand => { %>
          <option value="<%= brand.brand_id %>" <%= brand.brand_id === data.product.brand ? 'selected' : '' %>><%= brand.brand_name %></option>
        <% }); %>
      </select>
    </div>

    <!-- Unit -->
     <div class="input_field">
       <label for="unit">Unit</label>
       <select class="selected" id="unit" name="unit" required>
         <option value="">Select Unit</option>
         <% data.units.forEach(unit => { %>
           <option value="<%= unit.unit_id %>" <%= unit.unit_id === data.product.unit ? 'selected' : '' %>><%= unit.unit_name %></option>
         <% }); %>
       </select>
     </div>

    <!-- VAT -->
     <div class="input_field">
      <span class="status">Vat</span>
      <div class="active">
        <input type="checkbox" id="vat" name="vat" value='1' <%= data.product.vat ? 'checked' : '' %>>
        <label for="vat">Include VAT</label>
      </div>
     </div>

    <!-- Selling Rate -->
     <div class="input_field">
       <label for="selling_rate">Selling Rate</label>
       <input type="number" id="selling_rate" name="selling_rate" step="0.01" value="<%= data.product.selling_rate %>" required>
     </div>

    
    <!-- Category -->
     <div class="input_field">
       <label for="category">Category</label>
       <select class="selected" id="category" name="category">
         <option value="">Select Category</option>
         <% data.categories.forEach(category => { %>
           <option value="<%= category.category_id %>" <%= category.category_id === data.product.category ? 'selected' : '' %>><%= category.category_name %></option>
         <% }); %>
       </select>
     </div>

    <!-- Submit Button -->
     <div class="submit_btn padding">
       <button type="submit">Update Product</button>
     </div>
  </form>
  </div>

  <!-- Back to Product List -->
  
  <div class="back_btn">
    <a href="/category/view">Back to Category List</a>
  </div>

  <footer></footer>

</body>
<script src="/editproduct.js"></script>
</html>
