<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Vendor</title>
</head>
<body>
    <%- include("./navbar.ejs") %>

    <h1>Create Vendor</h1>
    <form id="editvendor">
        <input type="hidden" name="vendor_id" value="<%=data.result.vendor_id%>">
        <label for="vendor_name">Vendor Name:</label><br>
        <input type="text" id="vendor_name" name="vendor_name" required value="<%=data.vendor_name%>"><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="<%=data.result.email%>"><br><br>

        <label for="phone">Phone:</label><br>
        <input type="text" id="phone" name="phone" required pattern="\d{10}" value="<%=data.phone%>" maxlength="10" title="Enter a 10-digit phone number"><br><br>

        <label for="pan_no">PAN_No/vat_no:</label><br>
        <input type="text" id="pan_no" name="pan_no" value="<%=data.pan_no%>"><br><br>

    
        <label for="country">Country:</label><br>
        <input type="text" id="country" name="country" value="<%=data.country%>" required maxlength="50"><br><br>

        <label for="state">State:</label><br>
        <input type="text" id="state" name="state" value="<%=data.state%>" maxlength="50"><br><br>

        
        <label for="address">Address:</label><br>
        <textarea id="address" name="address" required maxlength="100" ><%=data.address%></textarea><br><br>

        

        <button type="submit">update Vendor</button>
    </form>
</body>
<script src="/editvendor.js"></script>
</html>
