<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Customer</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/common2.css">
    <!-- <style>
        form {
            max-width: 500px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        input, textarea, button {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        button {
            background-color: #007BFF;
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style> -->
</head>
<body>
    <%- include("./navbar.ejs") %>

    <div class="container">
        <h2 class="create_heading">Edit Customer</h2>

        <form id="editcustomer" class="style_form">

            <!-- Customer Name -->
            <div class="input_field">
                <input type="hidden" id="id" name="id" value="<%= data.customer_id %>" required>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="<%= data.customer_name %>" required>
            </div>
    
            
            <div class="input_field">
                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone" value="<%= data.customer_phone %>" required>
            </div>
    
            <div class="input_field">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="<%= data.customer_email %>" required>
            </div>
                
    
            <div class="input_field">
                <label for="address">Address</label>
                <textarea class="desc_textarea" id="address" name="address" rows="3" required><%= data.customer_address %></textarea>
            </div>
            
            <div class="input_field">
                <label for="pan">PAN:</label>
                <input type="text" id="pan" name="pan" value="<%= data.customer_pan %>" required>
            </div>
    
            <!-- Submit Button -->
            <div class="input_field submit_btn three_col">
				<button type="submit">Update Customer</button>
			</div>
            
        </form>
    </div>

    
    <div class="back_btn">
        <a href="/customer/view">Back to Customer List</a>
    </div>

    <footer></footer>
    
</body>
<script src="/editcustomer.js"></script>
</html>
