<link rel="stylesheet" href="/navbar.css">
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
/>
<header>
    <div class="logo_section">
        <div class="bar"><i class="fa-solid fa-bars"></i></div>
        <div class="logo">
            <img
            src="<%= user.company_logo != null ? user.company_logo : 'https://i.pinimg.com/originals/b3/05/75/b30575a11ffe62d8c9b43da30ee77fc1.jpg' %>"
            alt="Company Logo"
            />
        </div>
        <div class="cmp_name"><%= user.company_name %></div>
    </div>
    <div class="profile_section">
        <div class="personal_info2">
            <h3><%= user.username %></h3>
            <h4><%= user.roles %></h4>
        </div>
        <div class="pro_pic" id="profile">
            <img
            src="<%= user.user_image %>"
            alt="user profile"
            />
            <div class="profile_option">
                <a href="" class="setting"><i class="fa-thin fa-gear"></i>seting</a>
                <a href="/auth/logout" class="logout"><i class="fa-thin fa-arrow-right-from-bracket"></i>logout</a>
            </div>
        </div>
    </div>
</header>
<script src="/navbar.js"></script>
  