<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Companies List</title>
  <link rel="stylesheet" href="/table.css">
</head>
<style>


</style>
<body>
  <%- include("./navbar.ejs") %>

  <div class="container">

      <h2 class="table_heading">Companies List</h2>
      <div class="table_div">
      <table border="1" >
        <thead>
          <tr>
            <th>SN</th>
            <th>logo</th>
            <th>Company Name</th>
            <th>company code</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

          <% data.result.forEach((company,index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <% if(company.company_logo){ %>
              <td> <img src='<%= company.company_logo %>' style="width: 30px; height: 30px; border-radius: 50%;"></td>
                <% }else{ %>
                <td>no logo</td>
                  <% } %>
                <td><%= company.company_name %></td>
                <td><%= company.company_code %></td>
                <td><%= company.phone %></td>
                <td><%= company.email %></td>
              <td>
                <a class="btn btn-edit" href="/company/edit?id=<%= company.company_id %>">Edit</a>
                <a class="btn btn-delete" href="/company/delete/<%= company.company_id %>" onclick="return confirm('Are you sure?');">Delete</a>
                <button class="btn btn-viewDetails" onclick="tougleViewDetails('<%= company.company_id %>')">View Details</button>
              </td>
            </tr>
            <tr>
              <td colspan="7">
                <div  class="dropdown-content" id="dropdown-<%= company.company_id %>">
                  <p><strong>Email:</strong> <%= company.email %></p>
                  <p><strong>Registration No:</strong> <%= company.registration_no %></p>
                  <p><strong>Country:</strong> <%= company.country %></p>
                  <p><strong>Address:</strong> <%= company.address %></p>
                  <p><strong>State:</strong> <%= company.state %></p>
                  <p><strong>City:</strong> <%= company.city %></p>
                  <p><strong>ZIP:</strong> <%= company.zip %></p>
                  <p><strong>Bank Name:</strong> <%= company.bank_name %></p>
                  <p><strong>Account No:</strong> <%= company.account_no %></p>
                </div>
              </td>
            </tr>
            
          <% }); %>
        </tbody>
      </table>
      <% if(data.total_page != 1) {%>
        <div class="footer">
          
    
          <ul>
            <% for(let i =1; i<= data.total_page; i++){ %>
            <li>
                <a href="?page=<%= i %>"><%= i %></a>
              </li>
              <% } %>
          </ul>
        </div>
        <%}%>
      </div>
  </div>
     
  <div class="back_btn">
    <a href="/company/add">Add New Company</a>
  </div>

  <footer></footer>
  
</body>
<script src="/viewCompany.js"></script>
</html>




