<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users Table</title>
  <link rel="stylesheet" href="/table.css">
  <link rel="stylesheet" href="/common.css">
  <link rel="stylesheet" href="/common2.css">
</head>
<body>
  <%- include("./navbar.ejs") %>

  <div class="container">

    <h2 class="table_heading">Users Table</h2>

    <div class="table_div">
      <table border="1">
        <thead>
          <tr>
            <th>SN</th>
            <th>profile</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Is Active</th>
            <th>Role</th>
            <th>Company</th>
            <th>created by</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% data.result.forEach((users,index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><img src="<%= users.user_image %>" style="width: 50px; height: 50px; border-radius: 50%;" alt="user profile"></td>
              <td><%= users.name %></td>
              <td><%= users.address || 'N/A' %></td>
              <td><%= users.phone || 'N/A' %></td>
              <td><%= users.email %></td>
              <td><%= users.is_active ? 'Yes' : 'No' %></td>
              <td><%= users.roles %></td>
              <td><%= users.company_name %></td>
              <td><%= users.created_by || 'N/A' %></td>
              
              <td>
                <a class="btn btn-edit" href="/user/edit?id=<%= users.user_id %>">Edit</a>
                <form class="deleteuser" style="display:inline;">
                  <input type="hidden" name="id" value="<%= users.user_id %>">
                  <button class="btn btn-delete" type="submit" onclick="return confirm('Are you sure you want to delete this user');">Delete</button>
              </form>
              </td>
            </tr>
          <% }) %>
        </tbody>

      </table>
    </div>
 
    <!-- table column change button -->
     <% if(data.total_page != 1) {%>
    <div class="footer">
      

      <ul>
        <% for(let i =1; i<= data.total_page; i++){ %>
        <li>
            <a href="?page=<%= i %>"><%= i %></a>
          </li>
          <% } %>
      </ul>
    </div>
    <%}%>
    
  </div>

  <div class="back_btn">
    <a href="/usesr/add">Add New User</a>
  </div>

  
  <div class="container">

  <h2 class="table_heading">Change Password</h2>
      <!-- Change Password Form -->
      <!-- <section class="change-password"> -->
        <form id="changepassword" class="style_form">

          <div class="form-group input_field">
          <label for="user_id">User Name</label>
          <select class="selected" name="user_id" id="user_id">
            <option value="" selected>select user</option>
            <% data.result.forEach((users) => { %>
            <option value="<%= users.user_id%>"><%= users.name%>:-<span><%= users.email%></span></option>
            <% }) %>
          </select>
          </div>

          <div class="form-group input_field">
            <label for="new_password">New Password:</label>
            <input
              type="password"
              id="new_password"
              name="new_password"
              placeholder="Enter new password"
              required
            />
          </div>

          <div class="form-group input_field">
            <label for="confirm_password">Confirm New Password:</label>
            <input
              type="password"
              id="confirm_password"
              name="confirm_password"
              placeholder="Confirm new password"
              required
            />
          </div>

          <!-- button -->
          <div class="input_field submit_btn btn_viewuser">
            <button type="submit">Change Password</button>
          </div>

          
        </form>
      <!-- </section> -->
      </div>

      <footer></footer>
      
  </body>
  <script src="/viewuser.js"></script>
</html>
