<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/table.css">
    <link rel="stylesheet" href="/purchase.css">
    <link rel="stylesheet" href="/common.css">
  </head>
  <body>
    <%- include("./success.ejs") %>
    <%- include("./errormessage.ejs") %>
    
    <%- include("./navbar.ejs") %>

    <div class="container">

      <h2 class="table_heading">Purchase List</h2>

      <div class="table_div">
        <table border="1">
          <thead>
            <tr>
              <th>Vendor Name</th>
              <th>Created By</th>
              <th>Product Name</th>
              <th>Purchase Code</th>
              <th>Ordered Quantity</th>
              <th>Received Quantity</th>
              <th>Remaining</th>
              <th>Balance</th>
              <th>Unit Rate</th>
              <th>VAT Rate</th>
              <th>Total</th>
              <th>Purchase Date</th>
              <th>Status</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <% for(let purchase of data.result){%>
            <tr>
              <td><%= purchase.vendor_name %></td>
              <td><%= purchase.name %></td>
              <td><%= purchase.product_name %></td>
              <td><%= purchase.purchase_code %></td>
              <td><%= purchase.ordered_qnt %></td>
              <td><%= purchase.received_qnt %></td>
              <td><%= purchase.remaining %></td>
              <td><%= purchase.balance %></td>
              <td><%= purchase.unit_rate %></td>
              <td><%= purchase.vat_rate %>%</td>
              <td><%= purchase.total %></td>
              <td><%= purchase.pruchase_date %></td>
              <td><%= purchase.status %></td>
              <td><%= purchase.remarks %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    
    <div class="back_btn">
      <a href="/purchase/add">Add New Purchases</a>
    </div>

    <div class="container">

      <h2 class="table_heading">Purchases Summary</h2>
    
      <div class="table_div">
        <table border="1">
          <thead>
            <tr>
              <th>Vendor Name</th>
              <th>Purchase Code</th>
              <th>Purchase Date</th>
              <th>Total Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% let groupedPurchases = {}; 
            for (let purchase of data.result) { 
            if(!groupedPurchases[purchase.purchase_code]) {
                groupedPurchases[purchase.purchase_code] = { purchase_code:
                purchase.purchase_code, vendor_name: purchase.vendor_name,
                purchase_date: purchase.pruchase_date, total: 0, }; }
                groupedPurchases[purchase.purchase_code].total += parseFloat(purchase.total);
            } %>
            <% for (let purchase_code in groupedPurchases) { 
                let group = groupedPurchases[purchase_code]; 
            %>
            <tr>
              <td><%= group.vendor_name %></td>
              <td><%= group.purchase_code %></td>
              <td><%= group.purchase_date %></td>
              <td><%= group.total %></td>
              <td>
                <a
                  class="btn btn-edit"
                  href="/purchase/edit?purchase_code=<%= group.purchase_code %>"
                  >Edit</a
                >
                <form class="deletepurchase" style="display: inline">
                  <input
                    type="hidden"
                    name="purchase_code"
                    value="<%= group.purchase_code %>"
                  />
                  
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="footer">
        
  
        <ul>
          <% for(let i =1; i<= data.total_page; i++){ %>
          <li>
              <a href="?page=<%= i %>"><%= i %></a>
            </li>
            <% } %>
        </ul>
      </div>
      </div>
        

    <div class="container">

      <h2 class="create_heading">Export to Excel</h2>

      <form id="exportToExcel" class="input_select">
        
        <select class="selected" name="vendor_id" id="export">
          <option value="">Select Vendor</option>
          <%
            const uniqueVendors = [];
            const uniqueVendorsIds = new Set();
            data.result.forEach(purchase => {
              if (!uniqueVendorsIds.has(purchase.vendor_id)) {
                uniqueVendorsIds.add(purchase.vendor_id);
                uniqueVendors.push(purchase);
              }
            });
          %>
          <% uniqueVendors.forEach(purchase => { %>
          <option value="<%= purchase.vendor_id %>"><%= purchase.vendor_name %></option>
          <% }) %>
        </select>

        <input class="selected" type="date" name="from" id="date" required />

        <span>TO</span>

        <input class="selected" type="date" name="to" id="date" required />

        
        <button class="selected btn" type="submit">Save to Excel</button>
      </form>
    </div>
    
    <footer></footer>
    
  </body>
  <script src="/viewpurchase.js"></script>
</html>
