<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Companies List</title>
</head>
<body>
  <h1>Companies List</h1>
  <table border="1" cellspacing="0" cellpadding="10">
    <thead>
      <tr>
        <th>logo</th>
        <th>Company ID</th>
        <th>Company Name</th>
        <th>registration no</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Country</th>
        <th>pan/vat</th>
        <th>vat</th>
        <th>pan</th>
        <th>address</th>
        <th>state</th>
        <th>city</th>
        <th>zip</th>
        <th>bank name</th>
        <th>account no</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((company) => { %>
        <tr>
            <td><%= company.company_logo %></td>
            <td><%= company.company_id %></td>
            <td><%= company.company_name %></td>
            <td><%= company.registration_no  %></td>
            <td><%= company.phone %></td>
            <td><%= company.email %></td>
            <td><%= company.country %></td>
            <td><%= company.pan_vat_no%></td>
            <td><%= company.isvat?"YES":"No"%></td>
            <td><%= company.isvat?"NO":"YES"%></td>
            <td><%= company.address %></td>
            <td><%= company.state %></td>
            <td><%= company.city %></td>
            <td><%= company.zip %></td>
            <td><%= company.bank_name %></td>
            <td><%= company.account_no %></td>
          <td>
            <a href="/company/edit?id=<%= company.company_id %>">Edit</a>
            <a href="/company/delete/<%= company.company_id %>" onclick="return confirm('Are you sure?');">Delete</a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
