<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice Table</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/table.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/common2.css">
  </head>
  <body>
    <%- include("./success.ejs") %>
    <%- include("./errormessage.ejs") %>
    
    <%- include("./navbar.ejs") %>

    <div class="container">
      <h1 class="table_heading">Invoices</h1>

      <div class="submit_btn">
      <button type="button" id="export_all_to_excel">export to excel</button>
      </div><br>

      <div class="table_div">
      <table border="1">
        <thead>
          <tr>
            <th >SN</th>
            <th >created by</th>
            <th >sells code</th>
            <th >Customer Name</th>
            <th >Product Name</th>
            <th >Quantity</th>
            <th >sells by</th>
            <th >Rate</th>
            <th >Total</th>
            <th >Payment</th>
            <th >Sales Date</th>
          </tr>
        </thead>
        <tbody>
          <% data.result.forEach((invoice,index) => { %>
          <tr>
            <td class="border border-gray-300 px-4 py-2"><%= index + 1 %></td>
            <td class="border border-gray-300 px-4 py-2"><%= invoice.name%></td>
            <td class="border border-gray-300 px-4 py-2">
              <%= invoice.sells_code %>
            </td>
            <td class="border border-gray-300 px-4 py-2">
              <%= invoice.customer_name %>
            </td>
            <td class="border border-gray-300 px-4 py-2">
              <%= invoice.product_name %>
            </td>
            <td class="border border-gray-300 px-4 py-2">
              <%= invoice.Quantity %>-<%=invoice.short_name %>
            </td>
            <td class="border border-gray-300 px-4 py-2"><%= invoice.name%></td>
            <td class="border border-gray-300 px-4 py-2">
              <%= invoice.rate %>/<%=invoice.short_name %>
            </td>
            <td class="border border-gray-300 px-4 py-2">
              <%= invoice.total %>
            </td>
            <td class="border border-gray-300 px-4 py-2">
              <%= invoice.payment %>
            </td>
            <td class="border border-gray-300 px-4 py-2">
              <%= new Date(invoice.sales_date).toLocaleDateString() %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

      <h1 class="table_heading">sells Summary</h1>
      <div class="table_div">
      <table border="1">
        <thead>
          <tr>
            <th>customer Name</th>
            <th>sells Code</th>
            <th>sells Date</th>
            <th>Total Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% let groupedsells = {}; for (let sells of data.result) {
          if(!groupedsells[sells.sells_code]) { groupedsells[sells.sells_code] =
          { sells_code:sells.sells_code, customer_name: sells.customer_name,
          sells_date: sells.sales_date, total: 0, }; }
          groupedsells[sells.sells_code].total += parseFloat(sells.total); } %>
          <% for (let sells_code in groupedsells) { let group =
          groupedsells[sells_code]; %>
          <tr>
            <td><%= group.customer_name %></td>
            <td><%= group.sells_code %></td>
            <td><%= new Date(group.sells_date).toLocaleDateString() %></td>
            <td><%= group.total %></td>
            <td>
              <form class="download_invoice" style="display: inline">
                <input
                  type="hidden"
                  name="invoice_sells_code"
                  ,
                  class="invoice_sells_code"
                  value="<%= group.sells_code %>"
                />
                <button type="button">
                  <i class="fa-solid fa-download"></i>
                </button>
              </form>
              <a
                href="/invoice/edit?sells_code=<%= group.sells_code %>"
                style="text-decoration: none; color: blue"
                >Edit</a>
              <form class="deletepurchase" style="display: inline">
                <input
                  type="hidden"
                  name="purchase_code"
                  value="<%= group.sells_code %>"
                />
                <button
                  type="submit"
                  style="text-decoration: none; color: red"
                  onclick="return confirm('Are you sure you want to delete this purchase?')"
                >
                  Delete
                </button>
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    </div>
    
    <div class="container">
      <h2 class="table_heading">export to excel customer</h2>
      <form id="exportToExcel" style="width: 100%; text-align: center;">
        <select class="selected" name="customer_id" id="customer" required>
          <option value="" selected>select customer</option>
          <% const uniqueCustomers = [];
          const uniqueCustomerIds = new Set();
          data.result.forEach(invoice => {
            if(!uniqueCustomerIds.has(invoice.customer_id)) {
          uniqueCustomerIds.add(invoice.customer_id);
          uniqueCustomers.push(invoice); } }); 
          %>
          <%uniqueCustomers.forEach(invoice => { %>
          <option value="<%= invoice.customer_id %>">
            <%= invoice.customer_name %>
          </option>
          <% }) %>
        </select>

        <div class="input_field">
          <input type="date" name="from" id="date" required />
        </div>

        <div class="input_field to_span">
          <span>TO</span>
        </div>
        
        <div class="input_field">
          <input type="date" name="to" id="date" required />
        </div>
        <div class="submit_btn excel">
          <button type="submit">save to excel</button>
        </div>
      </form><br>

<% if(user.roles == "admin"){%>
    <h1 class="table_heading">export to excel seller</h1>
    <form id="seller_excel" style="width: 100%; text-align: center;">
        <select class="selected" name="seller_id" id="seller" required>
          <option value="" selected>select seller</option>
          <% const uniqueSeller = [];
          const uniqueSellerIds = new Set();
          data.result.forEach(invoice => {
            if(!uniqueSellerIds.has(invoice.user_id)) {
          uniqueSellerIds.add(invoice.user_id);
          uniqueSeller.push(invoice); } }); 
          %>
          <%uniqueSeller.forEach(invoice => { %>
          <option value="<%= invoice.user_id %>">
            <%= invoice.name %>
          </option>
          <% }) %>
        </select>

        <div class="input_field">
          <input type="date" name="from" id="date" required />
        </div>
        
        <div class="input_field to_span">
          <span>TO</span>
        </div>
        
        <div class="input_field">
          <input type="date" name="to" id="date" required />
        </div>
        
        <div class="submit_btn excel">
          <button type="submit">save to excel</button>
        </div>
      </form>
    </div>
    <%}%>

    <footer></footer>
      </body>
</html>
<script src="/viewinvoice.js"></script>
